<mat-card class="card">
  <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start">
    <!-- <img
      style="

        border-radius: 4px;
        padding: 5px;
        width: 150px;
        height: 60px;
        margin-top: 0px;
      "
      src="assets/seliselogo.JPG"
    /> -->

    <button
      mat-button
      class="download-btn"
      style="font-weight: 600; font-size: 14px"
    >
      Import
    </button>
    <button
      mat-button
      class="download-btn"
      style="font-weight: 600; font-size: 14px"
    >
      Add Licecnse
    </button>
  </div>
</mat-card>
