// .outer-container
// {

//   height: 100vh;
//   width: 250px;
//   background-color: #053a55;
//   color: aliceblue;
// }

// .menu-items{

//   line-height: 60px;



// }

// .menu-items :hover
// {
//   background-color: rgb(71, 175, 227);

// }

// .active-button{
//   background-color: #024e89;
// }




// .example-toolbar{
//   background-color: #053a55;
// }
// .example-container {
//   height: 100%;
//   width: 100vw;


// }
// .example-sidenav-content {
//   display: flex;
//   height: 100%;
//   width: 92%;

// }
// .example-sidenav {
//    user-select: none;


// }
// .full-width {
//   width: 250px;

// }
// .menu-button {
//   transition: 300ms ease-in-out;
//   transform: rotate(0deg);
// }
// .menu-button.rotated {
//   transform: rotate(180deg);
// }



.outer-container
{

  height: 100vh;
  width: 250px;
  background-color: #053a55;
  color: aliceblue;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-items{

  line-height: 60px;



}

.menu-items :hover
{
  background-color: rgb(71, 175, 227);

}

.active-button{
  background-color: #024e89;
}



.example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
.example-toolbar{
  background-color: #053a55;
}
.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-sidenav-content {
  display: flex;
}
.example-sidenav {
   user-select: none;


}
.full-width {
  width: 250px;
}
// .menu-button {
//   transition: 300ms ease-in-out;
//   transform: rotate(0deg);
// }
// .menu-button.rotated {
//   transform: rotate(180deg);
// }



