.custom-table {
  width: 95%;
  border: 1px solid #dfe4eb;
  margin: 0 auto;
  border-radius: 2px 2px 2px 2px;
  word-wrap: break-word;
  .mat-header-cell {
    background-color: #f1f3f6;
    border-radius: 2px 2px 2px 2px;
  }

  &.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mat-card
{
  height: 75px;
  width: 100vw;

}

:host ::ng-deep.mat-button.download-btn {
  background: #086dba;
  padding: 4px;
  min-width: 152px;
  color: white;

}

:host ::ng-deep.mat-card.card {
  background: #e6e7e8;


}
