<div class="outer-container">
  <div class="blue-bg"></div>
  <div class="container">
    <mat-card class="login-card">
      <img src="assets/seliselogo.JPG" />
      <mat-card-title>
        <div
          class="mt-4"
          style="
            font-size: 28px;
            font-style: inter;
            color: #0066b2;
            font-weight: 600;
          "
        >
          License Inventory Management
        </div>
      </mat-card-title>
      <mat-card-content>
        <h1 style="font-size: 16px; font-style: normal; font-weight: 500">
          Please Login Gmail to Verify Your Account
        </h1>
      </mat-card-content>

      <mat-card-content>
        <mat-divider class="mb-6"></mat-divider>
        <div class="mt-6">
          <asl-google-signin-button
            type="standard"
            width="350"
            shape="square"

            size="large"
            width="400"
            *ngIf="!user"
          >
          </asl-google-signin-button>
        </div>
      </mat-card-content>
      <div *ngIf="user">
        <button class="back-btn mb-5" (click)="backtoLogin()">Back</button>
        <h1 style="color: rgb(173, 42, 42); font-weight: 600">
          You Are Not Authorize to Login
        </h1>
      </div>
    </mat-card>
  </div>
</div>
