.container {
  max-width: 620px;
  max-height: 510px;
  position: absolute;
  top: 20%;
  left: 30%;
}
.login-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 80px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.outer-container {
  height: 100vh;
  width: 100vw;
  background-color: #f7fbff;
  position: relative;
}
.blue-bg {
  height: 250px;
  width: 100%;
  background-color: #0066b2;
}

.back-btn {
  background-color: #0066b2; /* Green */
  border: none;
  color: white;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 50px;
}
